<main class="d-flex justify-content-center align-items-end ">
   <div class="contact mb-3 container">
    <h1 class="fs-1 fw-bolder">conatct section </h1>
    <div class="d-flex justify-content-center align-items-center mb-3 column-gap-3">
        <div class="line ms-auto"></div>
        <i class="fa fa-star"></i>
        <div class="line me-auto"></div>
    </div>
    <div >
        <input type="text" class="form-control border-0 border-bottom py-3 mb-3" placeholder="User Name" name="uName">
        <input type="number" class="form-control border-0 border-bottom py-3 mb-3" placeholder="User Age" name="uAge">
        <input type="email" class="form-control border-0 border-bottom py-3 mb-3" placeholder="User Email" name="uEmail">
        <input type="password" class="form-control border-0 border-bottom py-3 mb-3" placeholder="User Password" name="uPassword">
        <button class="btn btn-info text-white d-block">Send Message</button>
    </div>
   </div>
</main>