<main class=" d-flex justify-content-center align-items-end ">
    <section class="w-75 mb-4">
        <img class="" src="./assets/avataaars.svg" alt="user">
        <h1 class="fs-1 fw-bolder">start Framework</h1>
        <div class="d-flex justify-content-center align-items-center mb-3 column-gap-3">
            <div class="line ms-auto"></div>
            <i class="fa fa-star"></i>
            <div class="line me-auto"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </section>
</main>